body,
html {
    width: 100%;
    height: 100%;
    font-family: monserrat, sans-serif;
    background: url(https://images.unsplash.com/photo-1542393545-10f5cde2c810?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  h1{
      color: palegoldenrod; 
      font-size: 3rem;
  }

  hr {
      border-color:#f05f44;
      border-width: 3px;
      max-width: 65px;
  }

  .separation {
      height: 21rem;
  }

  .btn {
      border-radius: 300px;
      font-weight: 700;
      margin-bottom: 5rem;
      text-transform: uppercase;
  }

  .btn-primary {
      background-color: #f05f44;
      border-color: #f05f44;
  }

  .btn-primary:hover {
      background-color: #ee4b08;
      border-color: #ee4b08;
      border-width: 4px;
  }

  .btn-xl {
    padding: 1rem 2rem;
}
