body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    border-bottom: 2px solid rgb(38, 187, 187);
    border-right: 2px solid rgb(38, 187, 187);
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: center;
}

img {
    width: 345px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
} 

img:hover {
    transform: scale(1.1)
}